:root,
::backdrop {
	--sl-color-accent-low: var(--color-blue-900);
	--sl-color-accent: var(--color-blue-300);
	--sl-color-accent-high: var(--color-blue-150);
}
:root[data-theme='light'],
[data-theme='light'] ::backdrop {
	--sl-color-accent-high: var(--color-blue-700);
	--sl-color-accent: var(--color-blue-700);
	--sl-color-accent-low: var(--color-blue-50);
}
