:root,
::backdrop {
	--sl-color-accent-low: var(--color-orange-900);
	--sl-color-accent: var(--color-orange-300);
	--sl-color-accent-high: var(--color-orange-150);
}
:root[data-theme='light'],
[data-theme='light'] ::backdrop {
	--sl-color-accent-high: var(--color-orange-700);
	--sl-color-accent: var(--color-orange-700);
	--sl-color-accent-low: var(--color-orange-50);
}
