:root,
::backdrop {
	--sl-color-accent-low: var(--color-red-950);
	--sl-color-accent: var(--color-red-300);
	--sl-color-accent-high: var(--color-red-150);
}
:root[data-theme='light'],
[data-theme='light'] ::backdrop {
	--sl-color-accent-high: var(--color-red-700);
	--sl-color-accent: var(--color-red-700);
	--sl-color-accent-low: var(--color-red-50);
}
